.students-container {
  text-align: center;
}

.students-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  justify-content: center;
}

.students-list-card {
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #FFF
}

.activities-container {
  padding: 10px;
}

.activities-container li {
  transition: 0.2s
}

.activities-container li:hover {
  transform: scale(1.03);
}